
<!-- Graph Container -->
<div class="graph-container">
    <ngx-graph class="chart-container" [nodes]="nodes" [links]="links" [layout]="layout" [enableZoom]="true"
        [autoZoom]="false" [panOnZoom]="true" [autoCenter]="true">

        <ng-template #nodeTemplate let-node>
            <svg:g class="node"
                [ngClass]="{'level-0': node.level === 0, 'level-1': node.level === 1, 'level-2': node.level === 2, 'level-3': node.level === 3, 'level-4': node.level === 4, 'level-5': node.level === 5}"
                [attr.transform]="'translate(' + (node.fixedWidth / 2) + ',' + (node.dynamicHeight / 2) + ')'">

                <ng-container *ngIf="node.level === 0">
                    <!-- Custom HTML for root node -->

                    <svg:rect class="root-node" [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight + 40"
                        [attr.fill]="node.data.color" stroke="black" fill="#fbd414"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight + 40">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="node-content main-topic">
                            <i class="fas fa-pencil-alt node-icon" style="    font-size: 20px;
                              padding: 16px;
                              background: #111b21;
                              color: white;
                              border-radius: 10px;"></i> <!-- Pencil icon for the main topic -->
                            <div class="root-node-text">
                                <div class="main-topic-title" style="font-size: 26px !important;">Main Topic: </div>
                                <div class="main-topic-subtitle" style="font-size: 26px !important;">{{ node.label }}
                                </div>
                            </div>
                        </div>
                    </svg:foreignObject>
                </ng-container>

                <!-- <ng-container *ngIf="node.level === 1">
                    <svg:rect [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight" stroke="black"
                        [attr.fill]="node.level === 1 ? '#f4f4f4' : '#e8e8e8'"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="node-content level-one-node">
                            <div class="node-header">{{ node.label }}</div>
                            <div class="node-body" [innerHTML]="node.data.description || node.data.references"></div>
                        </div>
                    </svg:foreignObject>
                </ng-container> -->

                <!-- Level 1 Summary Node -->
                <ng-container *ngIf="node.level === 1 && node.label.startsWith('Summary')">
                    <svg:rect class="summaryy-node" [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight"
                        [attr.fill]="node.data.color" stroke="black">
                    </svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="node-content summary-node">
                            <div class="node-header">Summary</div>
                            <div class="node-body">{{ node.data.summary }}</div>
                        </div>
                    </svg:foreignObject>
                </ng-container>


                <ng-container *ngIf="node.level === 1 && node.label.startsWith('Sections')">
                    <!-- Custom HTML for root node -->
                    <svg:rect class="sections-node" [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight"
                        [attr.fill]="node.data.color" stroke="black" fill="#fbd414"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="node-content main-topic">
                            <i class="fa fa-sitemap node-icon" style="font-size: 20px;
                                      padding: 16px;
                                      background: #111b21;
                                      color: white;
                                      border-radius: 10px;"></i> <!-- Pencil icon for the main topic -->
                            <div class="root-node-text">
                                <div class="main-topic-title">Sections</div>
                            </div>
                        </div>
                    </svg:foreignObject>
                </ng-container>

                <!-- Level 1 References Node -->
                <ng-container *ngIf="node.level === 1 && node.label.startsWith('References')">
                    <svg:rect [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight + 70"
                        [attr.fill]="node.data.color" stroke="black"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight + 70">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="node-content summary-node">
                            <div class="node-header">References</div>
                            <div class="node-body">
                                <ul>


                                    <li *ngFor="let reference of node.data.references">
                                        <span class="reference-dot"></span>
                                        <a href="https://bitcoinops.org/en/topics/assumeutxo" target="_blank">{{
                                            truncateUrl(reference, 30)
                                            }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </svg:foreignObject>
                </ng-container>





                <!-- Level 1 node -->
                <ng-container *ngIf="node.level === 2">
                    <svg:rect [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight"
                        [attr.fill]="node.data.color" stroke="black"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight">
                        <div xmlns="http://www.w3.org/1999/xhtml"
                            style="display: flex; align-items: center; height: 100%; padding-left: 12px; padding-right: 14px; font-weight: 500;">
                            <i class="fa fa-sticky-note" style="font-weight: 500;" aria-hidden="true"></i>
                            <!-- Use a Unicode character -->
                            <div style="text-align: left; overflow-wrap: break-word; padding-right: 10px;">

                                {{ node.label }}
                            </div>
                        </div>
                    </svg:foreignObject>
                </ng-container>

                <ng-container *ngIf="node.level > 2">
                    <svg:rect [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight"
                        [attr.fill]="node.data.color" stroke="black"></svg:rect>
                    <svg:foreignObject [attr.width]="node.fixedWidth" [attr.height]="node.dynamicHeight">
                        <div xmlns="http://www.w3.org/1999/xhtml" class="level-two-node"
                            style="display: flex; align-items: center; height: 100%; padding-left: 12px; padding-right: 14px;">
                            <span style="font-size: 14px; padding-right: 14px;">●</span>
                            <!-- <div style="text-align: left; overflow-wrap: break-word; padding-right: 10px;">
                                    {{ node.label }}
                                </div> -->

                            <span class="node-label">{{ node.label }}</span>
                            <!-- <i class="fas fa-ellipsis-v node-options-icon"></i> -->

                        </div>
                    </svg:foreignObject>
                </ng-container>
            </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:path class="edge-path" [attr.d]="calculateCustomPath(link)" stroke-width="2" stroke="black">
            </svg:path>
        </ng-template>
    </ngx-graph>


    <div class="zoom-controls">
        <button class="zoom-button zoom-in" (click)="zoomIn()">
            <i class="fas fa-plus"></i>
        </button>
        <button class="zoom-button zoom-out" (click)="zoomOut()">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>