<div class="quiz-container">
  <div class="title-container">
    <h1>Quiz Game</h1>
  </div>

  <!-- Only show the question and choices if showResult is false -->
  <div *ngIf="!showResult">
    <div class="question-container">
      <h2>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}: <span style="font-weight: 300;">{{
          questions[currentQuestionIndex].text }}</span></h2>
    </div>

    <div class="choices-container">
      <div *ngFor="let choice of questions[currentQuestionIndex].choices; let i = index" class="choice-card"
        [class.correct]="answerSubmitted && choice === questions[currentQuestionIndex].answer"
        [class.incorrect]="answerSubmitted && choice === selectedChoice && !isAnswerCorrect"
        [class.selected]="choice === selectedChoice" (click)="!answerSubmitted && selectChoice(choice)">
        {{ choice }}
      </div>
    </div>



    <div class="button-container">
      <div class="navigation-buttons">

        <!-- ... existing quiz HTML ... -->

        <div *ngIf="allQuestionsAnswered(); else actionsButton">
          <button class="submit-button" (click)="showQuizResults()">Show Quiz Result</button>
        </div>

        <ng-template #actionsButton>
          <button class="submit-button" (click)="submitAnswer()" [hidden]="!selectedChoice"
          *ngIf="!answerSubmitted">Submit Answer</button>

        <button class="nav-button" (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="nav-button" (click)="nextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">
          <i class="fas fa-chevron-right"></i>
        </button>
        </ng-template>


      </div>

      <!-- <button class="submit-button" (click)="submitAnswer()" [disabled]="!selectedChoice">Submit Answer</button> -->
    </div>
  </div>

  <!-- Show result if showResult is true -->
  <div *ngIf="showResult" class="result-container">
    <div class="score-card">
      <h2 class="score-title">Quiz Completed!</h2>
      <p class="score-details">Your final score is:</p>
      <div class="score-value">{{ score }} / {{ questions.length }}</div>
      <button (click)="restartQuiz()" class="restart-button">Try Again</button>
    </div>
  </div>
</div>


<div *ngIf="showFooter" [ngClass]="footerClass" class="answer-footer">
  {{ isAnswerCorrect ? 'Correct!' : 'Wrong!' }}
</div>