/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-pane {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/* Outfit-Black */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

/* Outfit-Bold */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* Outfit-ExtraBold */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

/* Outfit-ExtraLight */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

/* Outfit-Light */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* Outfit-Medium */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

/* Outfit-Regular */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Outfit-SemiBold */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

/* Outfit-Thin */
@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

/* Outfit-VariableFont_wght */
@font-face {
    font-family: 'Outfit Variable';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    height: 100%;
    background-color: #000000;
    color: white;
}


html, body { height: 100%; }
body, html {
    font-family: 'Outfit' !important;
    font-weight: 200;
}

.mat-dialog-container {
    all: initial !important;
    font-family: 'Outfit' !important;
    font-weight: normal;
    /* other styles */
  }

  
.full-screen-dialog-dark {
    background-color: #111b21 !important;
    width: 100vw;
    max-width: unset !important;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    overflow: hidden;
  }
  

  .mat-dialog-container.full-screen-dialog-dark {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    overflow: hidden;
    background-color: #111b21; /* Set the background color to black */
    box-shadow: none; /* Remove box-shadow */
  }
  